@import './variables.scss';

/* VARIOUS BASIC STYLES */

* {
	box-sizing: border-box;
}

:selected {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button,
textarea,
label,
input,
select,
option {
	font-size: 1em;
	font-weight: 300;
	font-family: "Bellota Text", cursive;
	color: $entry;
	margin: 0;
	line-height: 1;
}

body {
	background: $primary;
	overflow: hidden;
}

div {
	text-align: center;
}

hr {
	border: none;
	border-bottom: 1px solid $primary;
	margin: 10px 0;
}

h1 {
    font-size: 6em;
    font-weight: 400;
}

h2 {
	display: block;
	position: relative;
	margin: 0 auto;
	font-size: 1.75em;
	line-height: 1;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.35em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1.1em;
}

#logo {
	position: relative;
	bottom: -4px;
	left: -20%;
	width: calc(2.651vw + 53.242px);
	fill: $primary;
}

/* BUTTONS */

button {
	color: $lightControl;
	border: 1px solid $lightControl;
	background: rgba(0, 0, 0, 0);
	border-radius: calc(.379vw + 2.723px);
	font-weight: 300;
	font-size: 1.25em;
	line-height: 1;
	padding: .3em;
	transition: .075s;
	transition-property: background, color;
	outline: none;
	cursor: pointer;
}

button.btn-dark {
	color: $darkControl;
	border-color: $darkControl;
}

button.btn-block {
	position: relative;
	width: calc(100% - calc(1.061vw + 3.629px));
	margin: .3em 0;
	font-size: calc(.455vw + 15.264px);

}

#filters button.selected {
	background: $lightControl;
	border-color: $lightControl;
	color: $entry;
}

button.btn-large {
	font-size: 2.25em;
	height: 1.75em;
	font-weight: 300;
	margin: 0 0 16px 0;
	width: 100%;
}

button.btn-inline {
	margin: 0 .5em;
	padding: .25em 0;
	width: 25%;
}

button:hover {
	color: $dark;
	background: $lightControl;
}

button.btn-dark:hover {
	color: $light;
	background: $darkControl;
}

button:focus {
	outline: none;
}

button.btn-dark:focus {
	outline: none;
}

/* MAIN SITE STRUCTURE */

// Default/Large Screens
#main {
	position: absolute;
	top: 0;
	height: 100vh;
	background: $entry;
	left: calc(19.741vw - 98.707px);
	width: calc(60.518vw + 197.414px);
}

#sidebar {
	position: absolute;
	z-index: 1;
	width: 33%;
	height: 100%;
	background: $dark;
	box-shadow: 2px 0px 25px rgba(0, 0, 0, .5);
	padding: 1em;
	padding-bottom: 0;
	
	#header {
		position: relative;
		top: calc(-.704vw - 6.483px);
		
		#hamburger-options {
			height: 0px;
			overflow: hidden;
			transition: .25s;
		}

		#hamburger-options.show {
			height: calc(3.352vw + 120.892px);
		}

		#hamburger-options:before {
			content: "";
			width: 100%;
			height: 1px;
			background: $primary;
			display: block;
			margin-bottom: 10px;
			margin-top: 10px;
		}

		.row {
			position: relative;
			display: flex;
			
			* {
				position: relative;
			}
			
			#wage-logo {
				width: 60%;
				padding-bottom: .13em;
				margin: -5px 0;
				font-size: calc(4.718vw + 9.414px);
			}
			
			.col {
				width: 20%;
				display: flex;
				flex-direction: column;
				justify-content: center;

				#hamburger {
					font-size: calc(2.113vw + 4.430px);
					width: calc(2.887vw + 4.570px);
					margin: 0 auto;
					color: $lightControl;
					border: 1px solid $lightControl;
					border-radius: .25vw;
					transition: .1s;
					transition-property: color, background;
					-webkit-touch-callout: none; /* iOS Safari */
					-webkit-user-select: none; /* Safari */
					-khtml-user-select: none; /* Konqueror HTML */
					-moz-user-select: none; /* Old versions of Firefox */
					-ms-user-select: none; /* Internet Explorer/Edge */
					user-select: none;
				}
				
				#hamburger:hover {
					color: $dark;
					background: $lightControl;
				}
				
				#hamburger.show {
					color: white;
					background: $lightControl;
				}
			}
		}

		h2 {
			font-size: calc(1.584vw + 9.587px);
		}
	}

	#controls {
		position: relative;
		top: calc(-.704vw - 6.483px);
	}

	#timer {
		position: absolute;
		bottom: 0;
		width: calc(100% - 2em);
	}

	#clock {
		margin: 0;
		margin-bottom: -1em;
		padding: calc(1.1268vw + 2.3662px);
		padding-bottom: calc(1.6142vw + 29.0074px);

		* {
			margin: 0;
			color: $lightControl;
			border-color: $lightControl;
		}

		h3 {
			font-family: "Courier Prime", monospace;
			font-size: calc(2.2535vw + 10.7324px);
			color: white;
			font-weight: 400;
		}

		p {
			font-size: calc(.7042vw + 10.479px);
		}

		h6 {
			font-size: 1.15em;
			font-weight: 500;
		}

		h6:after {
			content: "Clock Out";
			font-size: calc(2.2676vw + 11.6621px);
			display: block;
			position: absolute;
			top: calc(7.4507vw + 77.7466px);
			left: calc(1.2394vw + 3.8035px);
			height: calc(100% - 1.5em);
			width: calc(15.3345vw + 13.3276px);
			color: white;
			background: $darkControl;
			transition-duration: .15s;
			border-radius: 10px;
			padding: .25em;
			box-shadow: 0 .25em .75em rgba(0, 0, 0, .5);
		}

		hr {
			margin: .5em 0;
		}
	}

	#clock:hover {
		* {
			border-color: white;
		}

		h6:after {
			top: calc(4.0225vw + 24.888px);
		}
	}
}

button.btn-icon {
	border-radius: 100%;
	border: none;
	height: 3em;
	width: 3em;
	padding: 0;

	svg {
		padding: 0;

		.st0 {
			fill: none;
			stroke: $darkControl;
			stroke-width: 10;
			stroke-miterlimit: 10;
		}
		.st1 {
			fill: $darkControl;
			stroke: $darkControl;
			stroke-width: 10;
			stroke-miterlimit: 10;
		}
		.st2 {
			fill: $darkControl;
			stroke: $darkControl;
			stroke-width: 10;
			stroke-miterlimit: 10;
		}
	}
}

button.btn-icon:hover {
	background: transparent;

	svg {
		.st0 {
			stroke: $primary;
		}
		.st1 {
			fill: $primary;
			stroke: $primary;
		}
		.st2 {
			fill: $primary;
			stroke: $primary;
		}
	}
}

button.btn-icon:focus {
	background: transparent;
}

// specifically the User Icon buttons...

#user-buttons {
	position: absolute;
	right: 0;
	top: 1em;
	padding: 0;

	button.btn-icon {
		position: relative;
		right: -1.5em;
		border: none;
		margin: 0;
		outline: none;
		border: none;
		transition: .075s;
		transition-property: background, color;
		background: $light;
		box-shadow: 0 10px 20px rgba(0, 0, 0, .4);

		svg {
			path,
			circle {
				transition: .075s;
			}
		}
	}
}

/* DISPLAY/ENTRIES STYLING */

#display {
	position: absolute;
	width: 67%;
	height: 100%;
	left: 33%;
	padding: 0 1em;
	background: $light;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

#filters {
	padding-bottom: 1em;
}

#readout {
	height: 100%;
	padding-bottom: 2em;
	overflow-y: auto;
	overflow-y: -moz-scrollbars-none;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

#readout::-webkit-scrollbar {
	display: none;
}

#spacer {
	margin-bottom: 1em;
}

.entry {
	position: relative;
	display: flex;
	width: 100%;
	min-height: 5.5em;
	background: $entry;
	border-radius: 10px;
	padding: .5em;
	margin-bottom: 1em;
	cursor: pointer;
	transition: .2s;
	transition-property: color, background;
	/* TEXT SELECTION */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;

	* {
		text-align: center;
		color: $darkControl;
		margin: 0;
		padding-bottom: .13em;
		$entry-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	div.data-block {
		flex: 0 0 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		border-left: 1px solid $primary;
	}

	div.data-block.first-block {
		border-left: none;
		flex: 0 0 50%;
		padding: 0 1.75em;
	}

	div.data-block.first-block .tag {
		content: '\2807';
		text-align: center;
		color: $darkControl;
		position: absolute;
		left: 0.5em;
		width: 1em;
		height: 2em;
		// border: .75px solid $lightControl;
		border-radius: 5px;
		transition: .15s;
		background-image: radial-gradient(circle, $lightControl 2px, transparent 2.5px);
		background-size: 100% 33.333%;

		#delete-button,
		#edit-button {
			background: white;
			font-size: 1.25em;
			border-radius: 100%;
			height: 38px;
			width: 38px;
		}

		#delete-button:hover,
		#edit-button:hover {
			color: white;
			background: $darkControl;
		}
	}

	div.data-block.first-block .tag:hover {
		padding: .5em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100px;
		height: calc(88px - 1em);
		color: white;
		background: $lightControl;
		box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	}

	div.data-block.last-block {
		flex: 0 0 20%;
	}
}

.session {
	cursor: default;
}

.active {
	justify-content: center;
	align-items: center;
	min-height: 1.75em;
	cursor: default;
	padding: .5em;
	border: 1px solid white;
	transition: 1.5s;

	h4 {
		font-size: 2.25em;
		margin: 0;
		transition: 1.5s;
	}
}

.active.trans {
	border-color: $lightControl;
	background: $lightControl;

	h4 {
		color: white;
	}
}

// SELECTED ENTRY & CHILDREN...

.entry.expanded {
	background: $primary;
	border-bottom: 2px solid $light;

	div h3,
	div h4,
	div h6,
	div p {
		color: white;
	}

	div.data-block {
		border-left: 1px solid $light;
	}

	div.data-block.first-block {
		border-left: none;
	}
}

.childProjects {
	background: $primary;
	margin: -1em 1em 2em;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 1em;
	padding-bottom: 0px;
	overflow: hidden;

	.entry.expanded {
		background: $dark;
		border-bottom: 2px solid $primary;

		div h3,
		div h4,
		div h6,
		div p {
			color: white;
		}

		div.data-block {
			border-left: 1px solid $light;
		}

		div.data-block.first-block {
			border-left: none;
		}
	}

	.childSessions {
		background: $dark;
		margin: -1em 1em 2em;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		padding: 1em;
		padding-bottom: 0px;
		overflow: hidden;
	}
}

#modal {
	background: rgba(200, 200, 200, .8);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	overflow: hidden;
	transition: .5s;
	transition-property: background;

	.menu::-webkit-scrollbar {
		display: none;
	}

	.menu {
		position: relative;
		background: $primary;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 1.5em;
		width: 38.2%;
		min-width: 25em;
		border-radius: 10px;
		max-height: calc(100% - 2em);
		overflow-y: auto;
		overflow-y: -moz-scrollbars-none;
		scrollbar-width: none;
		-ms-overflow-style: none;
		box-shadow: 0 2em 10em rgba(0, 0, 0, .65);

		* {
			margin: 0;
			padding: 0;
			color: white;
			border: none;
		}

		.row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 0;
			padding: 0;

			.col {
				display: flex;
				flex-direction: column;
				width: calc(50% - .5em);
				margin: 0;
				padding: 0;
			}
		}

		.buttonRow {
			display: flex;
			justify-content: center;

			.buttons {
				display: flex;
				justify-content: center;
				flex-direction: row-reverse;
				margin: .5em 0 0;
				padding: 0;
				background: white;
				border-radius: .5em;
				padding: .5em 0;
				box-shadow: 0 .25em .5em rgba(0, 0, 0, .15);

				button.btn-menu {
					margin: 0 .25em;
					font-size: 2em;
					color: $lightControl;
					border-color: $lightControl;
				}

				button.btn-menu:hover {
					background: $lightControl;
					color: white;
				}

				button.btn-menu:focus {
					border: 2px solid #8bd8d4;
					margin: -2px calc(.25em - 1px);
				}
			}
		}

		*::selection {
			background: $lightControl;
			color: white;
		}

		label {
			margin-top: .5em;
			text-align: left;
		}

		input,
		textarea,
		select {
			padding: .3em .25em;
			color: $darkControl;
			margin: .125em 0;
		}

		select {
			padding-left: 0;

			* {
				color: white;
				background: $lightControl;
			}
		}

		input:focus,
		select:focus,
		textarea:focus {
			outline: 3px solid $lightControl;
			outline-offset: -1px;
		}

		button {
			padding: .3em;
			margin-top: .5em;
			margin-bottom: 0;
			color: white;
			border: 1px solid white;
			position: relative;

			.tooltip{
				visibility: hidden;
				background-color: $dark;
				display: inline-block;
				color: white;
				text-align: center;
				padding: 7.5px;
				border-radius: 6px;
				position: absolute;
				z-index: 101;
				font-size: 16px;
			}
			
			.tooltip::after {
				content: "";
				position: absolute;
				border-width: 5px;
				border-style: solid;
			}

			.left {
				right: calc(100% + 12px);
				top: 50%;
				margin-top: -12.5px;
			}

			.left::after {
				top: 50%;
				left: 100%;
				margin-top: -5px;
				border-color: transparent transparent transparent $dark;
			}

			.right {
				left: calc(100% + 12px);
				top: 50%;
				margin-top: -12.5px;
			}

			.right::after {
				top: 50%;
				right: 100%;
				margin-top: -5px;
				border-color: transparent $dark transparent transparent;
			}

			.top {
				bottom: calc(100% + 12px);
				left: 50%;
				transform: translateX(-50%);
			}

			.top::after {
				left: 50%;
				top: 100%;
				margin-left: -5px;
				border-color: $dark transparent transparent transparent;
			}

			.bottom {
				top: calc(100% + 12px);
				left: 50%;
				transform: translateX(-50%);
			}

			.bottom::after {
				left: 50%;
				bottom: 100%;
				margin-left: -5px;
				border-color: transparent transparent $dark transparent;
			}
		}

		button:hover {
			color: $primary;
			background: white;
		}

		button:hover .tooltip {
			visibility: visible;
		}

		button.btn-icon {
			position: absolute;
			top: calc(2em * .8);
			left: calc(2em * .8);
		}

		h1 {
			font-size: 2.25em;
		}

		h3 {
			padding-top: .33em;
			font-size: 1.5em;
		}

		h6 {
			font-size: 1.25em;
			margin: .2em 0 .1em;
		}

		textarea {
			min-height: 5em;
			resize: vertical;
		}

		hr {
			border: 1px solid $secondary;
			height: 4px;
			background: $secondary;
			border-radius: 5px;
			margin: .5em 0;
		}
	}

	@media only screen and (max-aspect-ratio: 1500/1080) {
		.menu {
			width: calc(66%);
		}
	}
}

#modal.transparent {
	background: transparent;
}

#toast {
	position: absolute;
	background: $alert;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -2em);
    display: block;
    z-index: 150;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .75em;
    box-shadow: 0 0.5em 1em rgba(0,0,0,.5);
    transition: .5s;
    transition-timing-function: ease-in-out;
	transition-property: transform;
	cursor: pointer;
	
	span {
		position: absolute;
		right: .5em;
		top: .5em;
		opacity: .5;
		font-size: 1em;
	}

	p {
		white-space: break-spaces;
		padding: .25em 0 .25em;
		line-height: 1.25;
	}
}

#toast.show {
	transform: translate(-50%, calc(100% + 1em));
}

#toast.alert {
	background: $alert;
}

#toast.warning {
	background: $warning;
}

#toast.success {
	background: $success;
}

#toast.info {
	background: $info;
}