@import './variables.scss';

@media only screen and (max-width: 600px) {
    #sidebar {
        padding: .75em .5em .5em .5em;

        * button {
            width: 100%;
            font-size: 22px;
            min-height: 64px;
            margin: 0;
        }
        
        #header {

            .row {
                flex-direction: column-reverse;

                .col {
                    width: 100%;
                    flex-direction: row;

                    #hamburger {
                        font-size: calc(7.93391vw - 2.60346px);
                        width: 100%;
                        border-radius: 5px;
                    }
                }
                
                #wage-logo {
                    width: 100%;
                    font-size: calc(8.99175vw + 8.0495px);
                    padding-bottom: calc(1.05785vw + 9.6529px);
                }
            }

            #hamburger-options.show {
                height: 159px;
            }
            
            #hamburger-options #btn-SignOut {
                margin-top: 10px;
            }

            hr {
                
            }

            h2 {
                font-size: calc(2.64463vw + 4.63222px);
            }
        }

        #controls {
            top: calc(-.42254vw - 4.8872px);

            #btn-NewProject {
                margin-top: 10px;
            }
        }
        
        #timer {
            width: calc(100% - 1em);

            #clock {
                
                
                h6:after {
                    top: 100%;
                    left: calc(2.64463vw - 5.86778px);
                    width: calc(14.28103vw + 35.31382px);
                    transition-property: top;
                } 
            }

            #clock:hover h6:after {
                top: calc(5.28927vw + 23.26438px);
            }
        }
    }

    #readout {


    }
    
    .entry {
        display: block;
        padding-left: 25px;
        min-height: 45px;

        * {
            padding-bottom: .25em;
        }

        div.data-block {
            width: 45%;
            display: inline-flex;
            border: none;
            padding-top: 5px;
        }
        
        div.data-block.first-block {
            width: 100%;
            border: none;
            border-bottom: 1px solid $color4;
            padding: 0;
            margin: 0;

            h3, h4 {
                width: 100%;
                padding: 0;
                margin-bottom: 5px;
            }

            .tag {
                left: 5px;
                top: 50%;
                height: 35px;
                transform: translateY(-50%);
            }

            .tag:hover {
                height: calc(100% - 10px);
            }
        }

        div.data-block.last-block {
            border: none;
            border-left: 1px solid $color4;
        }
    }

    .entry.active {
        padding: 0;
        display: flex;
        height: 55.8438px;
        
        * {
            font-size: 31.9154px;
        }
    }

    .entry.expanded, .childProjects .entry.expanded {

        div.data-block {
            border-color: $neutral1;
            border-left: none;
        }

        div.data-block.last-block {
            border: none;
            border-left: 1px solid $neutral1;
        }
    }

    .childProjects, .childProjects .childSessions {
        margin: -1em 0 2em;
    }

    .childSessions .entry .data-block {
        width: 100%;
    }




    #clock-in {
        font-size: calc(4.23142vw + 6.61148px);
    }
}