@import './variables.scss';

@keyframes pulse {
    from {transform: scale(1);}
    to {transform: scale(1.25);}
}

#highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: transparent;
    border: 5px solid $button;
    border-radius: 100%;
    box-shadow: 0 0 10em 5em $color1;
    animation: pulse 1s ease-in-out infinite alternate-reverse;
    z-index: 1000;
}

#tutorial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;

    #msgBox {
        position: absolute;
        left: calc(39.71831vw - 33.59155px);
        width: calc(40.56338vw + 100.18310px);
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 10px;
        margin: 1em;
        padding: 1em;
        background: $color1;

        #msg {
            position: relative;
            color: white;
            font-family: "Bellota Text", sans-serif;
            font-size: 1.5em;
            padding: 0 15%;

            h1 {
                font-size: 1.5em;
            }

            * {
                margin-bottom: 16px;
            }
        }
        
        button {
            font-size: 2em;
        }
    
        button:hover {
            color: $color1;
        }
    }
    
}