@import './variables.scss';

@keyframes pulse {
    from {transform: scale(1);}
    to {transform: scale(1.25);}
}

#tutorial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;


    #highlight {
        position: absolute;
        width: 100px;
        height: 100px;
        background: transparent;
        border: 5px solid $button;
        border-radius: 100%;
        box-shadow: 0 0 10em 5em $color1;
        animation: pulse 1s ease-in-out infinite alternate-reverse;
    }

    #msg {
        position: relative;
        color: white;
        font-family: "Bellota Text", sans-serif;
        font-size: 1.5em;
    }
    
    button {
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2em;
    }
}