@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Bellota+Text:wght@300;400;700&display=swap'); // Google Fonts Import
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Set Color Palette */
    $color1: #ff84ab;
    $color2: #58e4d8;
    $color3: #74898d;
    $color4: #ffa5c2;
    $color5: #ffd34f;

    $neutral1: #e5eaec;
    $neutral2: #576569;

// toast colors
    $success: #06b148;
    $info: #06a5b1;
    $alert: #e2b11d;
    $warning: #e93c4e;

// assign colors to elementy types
    // main element colors
        $sidebar: $neutral2;
        $door1: $color4;
        $door2: $color1;

    // entry level colors
        $entry1: white;
        $entry2: $color1;
        $entry3: $color3;

    // text colors    
        $darkText: $neutral2;
        $specialText: $color1;
        $sidebarText: white;
        $whiteText: white;

    // misc colors
        $button: $color2;
        $logo: $color1;
        $modal: rgba(200,200,200,.8);
        $menu: $color1;
