@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Bellota+Text:wght@300;400;700&display=swap'); // Google Fonts Import
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Remapping Color Variables */
    $primary: #ff80a2;
    $primaryLight: #f8c6d4;
    $primaryDark: #e9537b;

    $complement: #8bd8d4;
    $complementDark: #51807d;

    $light: #eeeeee;
    $dark: #5e5e5e;

// toast colors
    $success: #06b148;
    $info: #06a5b1;
    $alert: #e2b11d;
    $warning: #e93c4e;

// assign colors to elementy types
    $sidebar: $dark;
    $doorOpen: $dark;
    $doorClosed: $primary;

    $entry1: white;
    $entry2: $primary;
    $entry3: $dark;

    $lightText: white;
    $text: white;
    $darkText: $complementDark;
    $welcomeText: $primary;

    $button: $complement;

    $modal: rgba(200,200,200,.8);
    $menu: $primary;
