@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Bellota+Text:wght@300;400;700&display=swap'); // Google Fonts Import
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Remapping Color Variables */

$primary: #ff80a2;
$secondary: #f8c6d4;
$lightControl: #8bd8d4;
$darkControl: #51807d;
$entry: #ffffff;
$light: #eeeeee;
$dark: #5e5e5e;

$success: #06b148;
$info: #06a5b1;
$alert: #e2b11d;
$warning: #e93c4e;
