@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap'); // Google Fonts Import

/* Remapping Color Variables */

$default: #eee4e4;
$primary: #fbdde5;
$secondary: #e88ca5;
$control: #776a6a;
$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #615858;

/* VARIOUS BASIC STYLES */

:selected {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
	font-weight: 300;
	font-family: "Bellota Text", cursive;
	color: white;
}

body {
	overflow: hidden;
}

div {
	text-align: center;
}

hr {
	border-bottom: 1px solid $secondary;
	margin: 10px;
}

h1 {
	font-size: 5em;
	font-weight: 400;
}

h2 {
	display: block;
	position: relative;
	left: 15%;
	width: 70%;
	font-size: 1.75em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.4em;
}

button {
	color: white;
	border: none;
	background: $control;
	border-radius: 20px;
	font-weight: 300;
	font-size: 1.25em;
	line-height: 1;
	outline: none;
}

button.btn-Block {
	position: relative;
	outline: none;
	transition: .15s;
	transition-property: background, color;
	width: 100%;
	padding: .3em;
	margin: .3em 0;
}

button.btn-Block:hover {
	color: $primary;
	border: 1px solid $secondary;
	margin: calc(.3em - 1px) 0;
}

button.btn-Block:focus {
	left: -3px;
	border: 3px solid $secondary;
	color: $secondary;
	outline: none;
	margin: calc(.3em - 3px);
}

button.btn-Large {
	font-size: 2.25em;
	padding: 1em;
	font-weight: 300;
	margin: 0;
}

button.btn-Large.btn-Block {
	left: 0;
	margin: 0;
	border: none;
}

#logo {
	position: relative;
	left: -20%;
	width: 25%;
	height: auto;
	fill: $secondary;
}

/* BACKGROUND */

#background {
	position: absolute;
	background: $dark;
	height: 100vh;
	width: 100vw;
}

#background::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: radial-gradient(circle farthest-corner, transparent 50%, rgba(0, 0, 0, .4));
}

/* MAIN SITE STRUCTURE */

// Default/Large Screens
#main {
	position: absolute;
	top: 0;
	height: 100vh;
	background: white;
	left: 14.6vw;
	width: 70.8vw;
}

#sidebar {
	position: absolute;
	z-index: 1;
	width: 33%;
	height: 100%;
	background: $dark;
	box-shadow: 2px 0px 25px rgba(0, 0, 0, .5);
	padding: 1em;

	#header {
		position: relative;
		margin-bottom: 2em;
		top: -1em;
	}

	#controls {
		position: relative;
	}

	#timer {
		position: absolute;
		bottom: 1em;
		width: calc(100% - 2em);
	}
}

#user-buttons {
	position: absolute;
	right: 0;
	top: 1em;
	padding: 0;
}

button.btn-Icon {
	position: relative;
	right: -1.5em;
	border-radius: 100%;
	padding: 0;
	margin: 0;
	outline: none;
	transition: .15s;
	background: $default;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .4);

	svg {
		width: 3em;
		height: 3em;

		path,
		circle {
			transition: .15s;
		}

		.st0 {
			fill: none;
			stroke: $secondary;
			stroke-width: 10;
			stroke-miterlimit: 10;
		}
		.st1 {
			fill: $secondary;
			stroke: $secondary;
			stroke-width: 10;
			stroke-miterlimit: 10;
		}
		.st2 {
			fill: $secondary;
			stroke: $secondary;
			stroke-width: 10;
			stroke-miterlimit: 10;
		}
	}
}

button.btn-Icon:hover {
	background: white;

	svg {
		.st0 {
			stroke: $secondary;
		}
		.st1 {
			fill: $secondary;
			stroke: $secondary;
		}
		.st2 {
			fill: $secondary;
			stroke: $secondary;
		}
	}
}

// FOR MEDIUM WIDTH SCREENS
@media only screen and (max-aspect-ratio: 1500/1080) {
	#main {
		left: 0;
		width: 100vw;
	}
}

// MOBILE STYLING
@media only screen and (orientation: portrait) {
	#main {
		background: green;
	}
}

/* DISPLAY/ENTRIES STYLING */

#display {
	position: absolute;
	width: 67%;
	height: 100%;
	left: 33%;
	padding: 1em;
	background: $default;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
	overflow-y: auto;
	overflow-y: -moz-scrollbars-none;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

#display::-webkit-scrollbar {
	display: none;
}

.entry {
	position: relative;
	display: flex;
	width: 100%;
	background: white;
	border-radius: 10px;
	padding: 1em;
	margin-bottom: 1em;

	div.data-block {
		flex: 0 0 25%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		border-left: 1px solid $primary;
	}

	div.data-block.first-block {
		border-left: none;
		flex: 0 0 50%;
	}

	div.data-block.first-block p {
		text-align: left;
	}

	* {
		text-align: center;
		color: $control;
		margin: 0;
		margin-bottom: .1em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
