@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap'); // Google Fonts Import

/* Remapping Color Variables */

$primary: #ff80a2;
$secondary: #f8c6d4;
$light-control: #8bd8d4;
$dark-control: #51807d;
$entry: #ffffff;
$light: #fff1f1;
$dark: #615858;

$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;

/* VARIOUS BASIC STYLES */

* {
	box-sizing: border-box;
}

:selected {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button,
textarea,
input,
select,
option {
	font-size: 1em;
	font-weight: 300;
	font-family: "Bellota Text", cursive;
	color: $entry;
}

body {
	background: $primary;
	overflow: hidden;
}

div {
	text-align: center;
}

hr {
	border: none;
	border-bottom: 1px solid $primary;
	margin: 10px;
}

h1 {
	margin: 0;
	font-size: 5em;
	font-weight: 400;
}

h2 {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 70%;
	font-size: 1.75em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.4em;
}

#logo {
	position: relative;
	bottom: -4px;
	left: -20%;
	width: 25%;
	height: auto;
	fill: $primary;
}

/* BUTTONS */

button {
	color: $light-control;
	border: 1px solid $light-control;
	background: rgba(0, 0, 0, 0);
	border-radius: 20px;
	font-weight: 300;
	font-size: 1.25em;
	line-height: 1;
	padding: .3em;
	transition: .075s;
	outline: none;
}

button.btn-dark {
	color: $dark-control;
	border-color: $dark-control;
}

button.btn-block {
	position: relative;
	width: 100%;
	margin: .3em 0;
}

#filters button.selected {
	background: $light-control;
	border-color: $light-control;
	color: $entry;
}

button.btn-large {
	font-size: 2.25em;
	padding: 1em;
	font-weight: 300;
	margin: 0;
}

button.btn-inline {
	margin: 0 .5em;
	padding: .25em 0;
	width: 25%;
}

button:hover {
	color: $dark;
	background: $light-control;
}

button.btn-dark:hover {
	color: $light;
	background: $dark-control;
}

button:focus {
	outline: none;
}

/* MAIN SITE STRUCTURE */

// Default/Large Screens
#main {
	position: absolute;
	top: 0;
	height: 100vh;
	background: $entry;
	left: 14.6vw;
	width: 70.8vw;
}

#sidebar {
	position: absolute;
	z-index: 1;
	width: 33%;
	height: 100%;
	background: $dark;
	box-shadow: 2px 0px 25px rgba(0, 0, 0, .5);
	padding: 1em;

	#header {
		position: relative;
		top: -1em;
	}

	#controls {
		position: relative;
	}

	#timer {
		position: absolute;
		bottom: 1em;
		width: calc(100% - 2em);
	}
}

#user-buttons {
	position: absolute;
	right: 0;
	top: 1em;
	padding: 0;
}

button.btn-Icon {
	position: relative;
	right: -1.5em;
	border-radius: 100%;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	transition: .075s;
	background: $light;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
	height: 3em;
	width: 3em;

	svg {
		path,
		circle {
			transition: .075s;
		}

		.st0 {
			fill: none;
			stroke: $dark;
			stroke-width: 10;
			stroke-miterlimit: 10;
		}
		.st1 {
			fill: $dark;
			stroke: $dark;
			stroke-width: 10;
			stroke-miterlimit: 10;
		}
		.st2 {
			fill: $dark;
			stroke: $dark;
			stroke-width: 10;
			stroke-miterlimit: 10;
		}
	}
}

button.btn-Icon:hover {
	background: $entry;

	svg {
		.st0 {
			stroke: $primary;
		}
		.st1 {
			fill: $primary;
			stroke: $primary;
		}
		.st2 {
			fill: $primary;
			stroke: $primary;
		}
	}
}

// FOR MEDIUM WIDTH SCREENS
@media only screen and (max-aspect-ratio: 1500/1080) {
	#main {
		left: 0;
		width: 100vw;
	}
}

// MOBILE STYLING
@media only screen and (orientation: portrait) {
	#main {
		background: green;
	}
}

/* DISPLAY/ENTRIES STYLING */

#display {
	position: absolute;
	width: 67%;
	height: 100%;
	left: 33%;
	padding: 1em;
	background: $light;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

#filters {
	padding-bottom: 1em;
}

#readout {
	height: 100%;
	padding-bottom: 2em;
	overflow-y: auto;
	overflow-y: -moz-scrollbars-none;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

#readout::-webkit-scrollbar {
	display: none;
}

.entry {
	position: relative;
	display: flex;
	width: 100%;
	min-height: 5.5em;
	background: $entry;
	border-radius: 10px;
	padding: 1em;
	margin-bottom: 1em;

	* {
		text-align: center;
		color: $dark-control;
		margin: 0;
		margin-bottom: .1em;
		$entry-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	div.data-block {
		flex: 0 0 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		border-left: 1px solid $primary;
	}

	div.data-block.first-block {
		border-left: none;
		flex: 0 0 50%;
	}

	div.data-block.first-block * {
		text-align: left;
	}

	div.data-block.last-block {
		flex: 0 0 20%;
	}
}

#modal {
	background: $primary;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;

	.menu::-webkit-scrollbar {
		display: none;
	}

	.menu {
		background: $light;
		text-align: center;
		display: flex;
		flex-direction: column;
		padding: 2em;
		width: 38.2%;
		min-width: 25em;
		border-radius: .5em;
		max-height: calc(100% - 2em);
		overflow-y: auto;
		overflow-y: -moz-scrollbars-none;
		scrollbar-width: none;
		-ms-overflow-style: none;

		* {
			color: $dark-control;
			border: none;
			padding: .3em 1em;
			margin-bottom: .5em;
		}

		input::placeholder,
		textarea::placeholder {
			opacity: .5;
		}

		input:focus,
		select:focus,
		textarea:focus {
			outline: 2px solid $light-control;
			outline-offset: 1px;
		}

		*::selection {
			background: $primary;
			color: white;
		}

		select {
			padding-left: .7em;
		}

		button {
			margin-bottom: 0;
			padding: .3em;
			color: $dark-control;
			border: 1px solid $dark-control;
		}

		button:hover {
			color: $light;
			background: $dark-control;
		}

		h1 {
			padding: 0 0 .25em;
			font-size: 4em;
			margin: 0 0 .25em;
			line-height: 1;
			margin: 0;
		}

		h6 {
			font-size: 1em;
			margin: 0.1em 0 0 0;
		}

		textarea {
			min-height: 5em;
			resize: vertical;
		}

		hr {
			border-color: $dark;
			border-top: 0;
			margin: 0;
			margin-bottom: .5em;
		}
	}
}
